* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sh-1 {
  width: 100px;
  height: 75px;
  background-color: red;
}
.sh-2 {
  width: 150px;
  height: 60px;
  background-color: rgb(89, 75, 75);
}
.sh-3 {
  width: 130px;
  height: 90px;
  background-color: yellow;
}
.sh-4 {
  width: 50px;
  height: 75px;
  background-color: rgb(54, 198, 51);
}
.sh-5 {
  width: 80px;
  height: 40px;
  background-color: rgb(23, 35, 169);
}
.sh-6 {
  width: 100px;
  height: 80px;
  background-color: rgba(148, 33, 33, 0.602);
}
.sh-7 {
  width: 75px;
  justify-self: end;
  height: 100px;
  background-color: rgb(111, 148, 110);
}

.shapes {
  display: grid;
  width: 600px;
  height: 450px;
  background-color: rgb(228, 230, 230);
  grid-template-columns: 100px 1fr 1fr 2fr;
  /* align-content: end; */
  /* justify-content: center; */

  /* align-items: center; */
  /* justify-items: center; */
  /* row-gap: 20px; */
  /* column-gap: 20px; */
}
