.shapes {
	display: flex;
	background-color: aqua;
	width: 500px;
	height: 150px;
    gap: 5px;
	/* justify-content: space-between; */
    align-items: end;
}

.sh-1 {
	background-color: red;
	width: 70px;
	height: 50px;
    align-self: center;
}
.sh-2 {
	background-color: yellow;
	width: 100px;
	height: 80px;
}
.sh-3 {
	background-color: black;
	width: 60px;
	height: 30px;
}
.sh-4 {
	background-color: green;
	width: 120px;
	height: 50px;
}
.sh-5 {
	background-color: purple;
	width: 40px;
	height: 90px;
}


/* 
https://github.com/mkvvmk25/sasi-college 
*/